/* TODO: Make it awesome */
* {
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #264653;
  margin: auto 10rem;
  border: solid whitesmoke 2px;
  border-radius: 10px;
  font-family: 'Arial', serif;
  min-width: 500px;
}

body * {
  padding: 0.2rem;
}

tr {
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select, input {
  background-color: black;
  border: solid black 1px;
  border-radius: 5px;
}

table * {
  border: solid whitesmoke 2px;
  padding: 0.5rem;
  background-color: black;
}

#cartContents {
  height: 100px;
}
